---
template: default.html
---

{{define "body"}}
<h1>
    Welcome to this fine blog
</h1>

<div>
    <ul>
    {{range .Routes | fn "routes => Array.from(routes.reduce((tags, route) => {route.Meta?.tags?.forEach(tag => tags.add(tag)); return tags}, new Set()))"}}
    <li>
        <a href="/{{. | lower }}">
                {{.}}
        </a>
    </li>
    {{end}}
    </ul>
</div>

<p>
This is an example of a typical website structure for a blog.
</p>

<h2>
    Here is the latest post
</h2>

{{with index (.Routes | filterFilePath "**/posts/*.md" | sortDesc "date") 0}}
<a href={{.Href}}>{{.Meta.title}}</a>
{{end}}

{{end}}